<% include financing_header %>
<% include financing_menu %>
<% include financing_adv %>
<% include navigate %>
<div class="searchbar">
    <input type="text" id="keywords" placeholder="请输入关键词" value="<%=key%>">
    <img src="/images/search.png" onclick="search()" alt="">
    <span class="searchright">共有<span class="red"> <%=total%> </span>款理财产品</span>
</div>
<div class="fin_content">
	<table class="table table-bordered table-hover fund_table">
		<tr>
			<th></th>
			<th colspan="4">基金概况</th>
			<th colspan="4">基金收益率</th>
			<th></th>
		</tr>
		<tr>
			<th>序号</th>
			<th>基金简称</th>
			<th>基金经理</th>
			<th>投资策略</th>
			<th>运行时间</th>
			<th>近6月</th>
			<th>近1年</th>
			<th>累计收益</th>
			<th>年化收益</th>
			<th>最新净值</th>
			<th>操作</th>
		</tr>
		<%for(var i in record){%>
			<tr style="cursor:pointer;" onclick="window.open('/financing_detail?id=<%=record[i].id%>');">
				<td><%=record[i].id%></td>
				<td><%=record[i].name%></td>
				<td><%=record[i].manager%></td>
				<td><%=record[i].strategy%></td>
				<td><%=record[i].runtime%></td>
				<td><%=record[i].sixmonth%></td>
				<td><%=record[i].oneyear%></td>
				<td class="orange"><%=record[i].accu%></td>
				<td><%=record[i].yearly%></td>
				<td><%=record[i].networth%></td>
				<td>
					<div class="h2" onclick="concerned(<%=record[i].id%>)">关注</div>
				</td>
			</tr>
		<%}%>
	</table>
	<% include pager %>
	<hr>
</div>
<script>
function concerned(id){
    <%if(!cuser){%>
        showlogin(0);
    <%}else{%>
        $.ajax({ type:"POST" , url: "/role/setfConcerned", data:{userid:<%=cid%>,fundid:id}, success: function(data){
            if(data==200){
                alert("关注成功！");
            }else if(data==300){
                alert("您已关注此产品，不能重复关注！");
            }
        }});
    <%}%>
}

function search(){
    var keywords = $("#keywords").val();
    window.location = "/financing_list?q="+keywords;
}
</script>
<% include financing_define %>
<% include financing_footer %>